<div class="main">
  <div class="row">
    <div class="col-sm-6">
      <div class="mdc-card">
        <h1>Johnny Tsunami</h1>
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/37/Onrus_Surfer.jpg/640px-Onrus_Surfer.jpg"
        />
        <p>I like Surfing</p>
        <div class="mdc-card__ripple">
          <button type="button" class="btn btn-primary">Add Friend</button>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="mdc-card">
        <h1>JohnDoe443</h1>
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Egyptian_Surfer.jpg/640px-Egyptian_Surfer.jpg"
        />

        <div class="mdc-card__ripple">
          <button type="button" class="btn btn-primary">Add Friend</button>
        </div>
      </div>

      <div class="mdc-card">
        <div class="col-sm-6">
          <h1>Marting1111</h1>
          <img
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a6/Surfer_and_Northern_elephant_seal_at_Drakes_Beach.jpg/640px-Surfer_and_Northern_elephant_seal_at_Drakes_Beach.jpg"
          />
          <p>Hello bro</p>
          <div class="mdc-card__ripple">
            <button type="button" class="btn btn-primary">Add Friend</button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-12">
      <div class="row">
        <div class="col-xs-12">
          <div class="center">
            <h3>Suggested Friends</h3>
          </div>
        </div>
      </div>

      <hr />
      <a
        href="#"
        class="list-group-item clearfix"
        *ngFor="let user of users"
      >
        <div class="pull-left">
          <h4 class="list-group-item-heading">{{ user.name }}</h4>
          <p class="list-group-item-text">{{ user.id }}</p>
          <p class="list-group-item-text">{{ user.description }}</p>
          <button class="btn btn-success" (click)="gotoprofile(user.id)">go to profile</button>
          <hr />
        </div>
        <span class="pull-right">
          <img
            [src]="user.image"
            alt="{{ user.name }}"
            class="img-responsive"
            style="max-height: 300px"
          />
        </span>
      </a>
    </div>
  </div>
</div>



