<div class="header">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1>Suggested Friends</h1>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6" *ngFor="let user of users">
    <div class="card">
      <div class="card-body">
        <img
            [src]="user.image"
            alt="{{ user.name }}"
            class="img-fluid"
          />
        <h2>{{user.username}}</h2>
        <p>{{ user.description }}</p>
        <button type="button" class="btn btn-primary" [routerLink]="'/user/' + user.username">go to profile</button>
      </div>
    </div>
  </div>
</div>


