<div class="background" >
  <p id = "welcome"> Welcome Back </p>
  <p id = "welcomeMessage"> Log in to Get Friended</p>
  <button class = "signIn" (click)="onLoginClick()"> {{!login ? 'LOG IN': 'SIGN UP' }}</button>
</div>
  <div class="formContainer">
    <h3>{{!login ? 'Create Your Account' : 'Log In'}}</h3>
    <form #form="ngForm" (ngSubmit)="onSubmit(form)" *ngIf="!isLoading" >
      <div class="form-group">
        <input
          type="email"
          id="email"
          class="form-control"
          ngModel
          name="email"
          required
          email
          placeholder="Email"
        />
      </div>
      <div class="form-group">
        <input
          type="password"
          id="password"
          class="form-control"
          ngModel
          name="password"
          required
          minlength="6"
          placeholder="Password"
        />
      </div>
      <div class="form-group" *ngIf="!login">
        <input
          type="password"
          id="password"
          class="form-control"
          ngModel
          name="password01"
          required
          minlength="6"
          placeholder="Confirm Password"
        />



      </div>
        <button type="submit" [disabled]="!form.valid" *ngIf="!login" (click)="onSignup(form)">
          Sign Up
        </button>
        <button type="submit" [disabled]="!form.valid" *ngIf="login" (click)="onLogin(form)">
          Log In
        </button>
    </form>
    </div>


