<div class = "container">
  <div class = "row">
  <div class= "col-sm">
    <img src="https://tse4.mm.bing.net/th?id=OIP.2ZXXKN7zakCiYeNrq5-b_gHaHa&pid=Api&P=0&w=300&h=300" class="img-fluid">
  </div>
    <div class="col-sm my-auto">
    <h1>Mighty Pete</h1>
    <p>I am mighty! </p>
    </div>
  </div>
</div>

<br>
<br>

<div class="container">
  <div class="row">
  <div class="card">
  <div class="card-body">
   <h2>MightPete43</h2>
   This is some text within a card body.
   </div>
 </div>

 <div class="card">
 <div class="card-body">
  <h2>MightPete43</h2>
  This is some text within a card body.
  </div>
</div>

  </div>
  <div class="row">
  <div class="card">
  <div class="card-body">
   <h2>MightPete43</h2>
   This is some text within a card body.
   </div>
 </div>

 <div class="card">
 <div class="card-body">
  <h2>MightPete43</h2>
</div>

  </div>
  <div class = "row">
  </div>
</div>
