<!-- <div class = "container">
  <div class = "row">
  <div class= "col-sm">
    <img src={{user.image}} class="img-fluid">
  </div>
    <div class="col-sm my-auto">
    <h1>{{user.name}}</h1>
    <p>{{user.description}}</p>
    </div>
  </div>
</div>

<br>
<br>

<div class="container">
  <div class="row">
  <div class="card" *ngFor="let post of posts">
  <div class="card-body">
   <h2>{{post.username}}</h2>
   {{post.post}}
   </div>
 </div>


  </div>
</div>

  </div>
  <div class = "row">
  </div>
</div> -->
<!-- <div class="main">
  <div class="row">
    <div class="col-xs-12">
      <div class="row">
        <div class="col-xs-12">
          <div class="center">
            <h3>Profile Page</h3>
          </div>
        </div>
      </div>

      <hr>
      <a
        href="#"
        class="list-group-item clearfix"
        *ngFor="let user of user"
      >
        <div class="pull-left">
          <h4 class="list-group-item-heading">{{ user.name }}</h4>
          <p class="list-group-item-text">{{ user.id }}</p>
          <p class="list-group-item-text">{{ user.description }}</p>
          <!-- <button class="btn btn-success" (click)="gotoprofile(user.id)">go to profile</button> -->
          <!-- <hr />
        </div>
        <span class="pull-right">
          <img
            [src]="user.image"
            alt="{{ user.name }}"
            class="img-responsive"
            style="max-height: 300px"
          />
        </span>
      </a>
    </div>
  </div>
</div> -->
